<!DOCTYPE html>
<html>
	<head>
	<title>MicroSite Builder</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/builder.css') }}">
	</head>
	<body>
		<div class="master_container">
			<nav class="nav accent_grey">
				<div class="nav_container">
					<img class="logo" src="{{ url_for('static', filename='images/microsite_branding/logo.png') }}" alt="">
				</div>
			</nav>
			<div class="main_container">
				<aside class="menu">
					Left Aside
				</aside>
				<main>
					<div class="main_container">
						{% block content %}{% endblock %}
					</div>
				</main>
				<aside class="control">
					Right Aside
				</aside>
			</div>
			<footer>
				{% extends 'builder/foot.html' %}
			</footer>
		</div>
	</body>
</html>
