{% extends "base.html" %}{% block content %}

<p>Let us consider the requisite determinations which are brought together in the
person of a pope. The 1917 Code of Canon Law, can. 219, indicates:</p>
<blockquote>
<p>The Roman Pontiff, legitimately elected, as soon as he accepts the election,
receives by divine law, the full power of supreme jurisdiction.</p>
</blockquote>
<p>There are therefore three elements which found the affirmation that someone is
the pope:</p>
<ol>
<li>legitimate election</li>
<li>acceptance of the election by the elected person</li>
<li>the full power of supreme jurisdiction, received by divine law</li>
</ol>
<p>These three elements have separate causes: election is carried out by the
electors; acceptance is given by the person elected; and the supreme power is
communicated to him by God.</p>
<p>We can therefore clearly see the three stages of the formation of a pope. First,
a group of men (the college of cardinals) lawfully elect a candidate. Second,
this candidate accepts the papacy. Third, God bestows upon the elected man the
supreme authority over the Church, thus making him the pope.</p>
<h3 id="6-matter-and-form-in-the-papacy">6. Matter and form in the papacy.</h3><a href="{{ url_for("articles", section="explanation", article="lack-of-intention") }}
<p>Theologians who have described this process have used the analogous terms of
matter and form, which in man, for example, are the body and the soul,
respectively. These terms have been applied analogously by philosophers and
theologians for making distinctions in the sphere of human morality, in which
acts may be valid or invalid. The application of these concepts (matter, form,
validity, invalidity) to sacramental theology, for example, is well-known.</p>
<p>In the case of the pope, theologians have therefore made a distinction between
the subject (the person) receiving the papacy, and the authority of the papacy
itself, describing the former as the matter of the papacy, whereas the latter is
the form of the papacy. By the process of election and acceptance, a subject,
the matter, is prepared and disposed to receive from God the form of the papacy,
that is, the supreme authority over the Church. The union of this matter and
this form produces a valid pope.</p>
<p>St. Robert Bellarmine<sup id="fnref:1"><a class="footnote-ref" href="#fn:1">1</a></sup> writes:</p>
<blockquote>
<p>Therefore, when Cardinals create the Pontiff, they exercise their authority
not over the Pontiff, because he does not yet exist; but over the matter, that
is, over the person whom they dispose in a certain measure through election,
that he might receive the form of the pontificate from God.</p>
</blockquote>
<p>The same distinction is accepted by St. Antoninus and Cardinal Cajetan. It is
therefore false to claim, as many have done, that the Thesis is a novelty in
applying these distinctions to the papacy.</p>
">See in Context</a>{% endblock content %}