{% extends "base.html" %}
{% block content %}
<h1 id="videos">Videos</h1>
<h3 id="the-cassisiacum-thesis">The Cassisiacum Thesis</h3>
<!--TODO make the videos centered by default-->
<iframe width="650" height="366" src="https://www.youtube.com/embed/YfHGGmLYg-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>A 30 minute explanation of the Thesis, by Rev. Nicolás E. Despósito.</p>
<h3 id="sedevacantism">Sedevacantism</h3>
<iframe width="650" height="366" src="https://www.youtube.com/embed/RIosUEYro1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>A sermon by Rev. Nicolás E. Despósito.</p>
<h3 id="jurisdiction-designation">Jurisdiction &amp; Designation</h3>
<iframe width="650" height="366" src="https://www.youtube.com/embed/Ny5r9YphxHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>A brief analysis of the different positions regarding the status of Vatican II and the Novus Ordo hierarchy.</p>
<h3 id="discerning-a-heretic">Discerning a Heretic</h3>
<iframe width="650" height="366" src="https://www.youtube.com/embed/_Nda4T1e51U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>How can we know if someone is a heretic? Vatican II has so influenced the mind of Catholics that reaction to heresy is almost non existent. Our Lord has nevertheless given the golden rule: “By their fruits you shall know them” (Mt. VII, 20).</p>
<h3 id="indefectibility-vatican-ii">Indefectibility &amp; Vatican II</h3>
<iframe width="650" height="366" src="https://www.youtube.com/embed/YFjnhx7F2Fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>A sermon by Rev. Nicolás E. Despósito.</p>
<h3 id="bp-sanborn-replies-to-bp-dolan">Bp. Sanborn Replies to Bp. Dolan</h3>
<iframe width="650" height="366" src="https://www.youtube.com/embed/NsXy268kBpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>A response to the accusation that the position of those who hold the Thesis “savors of heresy”.</p>
{% endblock %}
