<div class="home-menu-container">
	<div class="home-menu">
		<!-- home button -->
		<span class="icon-home-menu">
			<a href="{{ url_for('landing_page') }}">
				<img src="{{ url_for('static', filename='images/favicon_io/favicon.ico')}}" alt="Home">
			</a>
		</span>
		<!-- menu -->
		<span class="home-menu-lists">
			<div class="dropdown">
				<button class="dropbtn">Explanation</button>
				<div class="home-dropdown-content">
					<a href="#">Overview</a>
					<a href="#">Lack of Intention</a>
					<a href="#">Church's Infallibility</a>
					<a href="#">Errors of Vatican II</a>
					<a href="#">Answers to Objections</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Resources</button>
				<div class="home-dropdown-content">
					<a href="#">The Thesis Show</a>
					<a href="#">Videos</a>
					<a href="#">Articles</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Information</button>
				<div class="home-dropdown-content">
					<a href="{{ url_for('about') }}">About Us</a>
					<a href="#">Contact Us</a>
				</div>
			</div>
		</span>
		<!-- social links -->
		<span class="social-links-home-menu">
			<a class="twitter" href="https://twitter.com/TheThesisDotUs">
				<i class="fa-brands fa-twitter fa-2x"></i>
			</a>
			<a class="youtube" href="https://youtube.com/epikeya">
				<i class="fa-brands fa-youtube fa-2x"></i>
			</a>
			<a class="email" mailto="cassisiacumthesis@gmail">
				<i class="fa-solid fa-at fa-2x"></i>
			</a>
		</span>
	</div>
</div>