{% extends 'base_builder.html' %}

{% block content %}
<div class="section_containter">
	<h3>Pages</h3>
	<p>All of the pages for your website. Click on one to edit it.</p>
	<div class="section_content">
		<ul>
			{% for page in pages_list %}
			<li>
				<form method="post" action="edit_page" name="pageList">
					<input type="hidden" name="page_to_edit" value="{{ page }}">
					<input type="submit" value="{{ page }}">
				</form>
				{% if page == 'home' %}
				{% else %}
				<form method="post" name="pageDelete">
					<input type="hidden" name="page_to_delete" value="{{ page }}">
					<input type="submit" value="Delete">
				</form>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		<button onclick="makeVisible('page_adder')">Add Page</button>
		<div class="popup_l hide" id="page_adder">
			<form method="post" name="pageAdder">
				<input type="text" name="new_page" id="">
				<input type="submit" name="add_page_form" value="Add Page">
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
function makeVisible(elementID) {
	var popUp = document.getElementById(elementID);
	popUp.classList.toggle("show");
}
</script>
{% endblock %}
