/* min-width = 1281 px */
/* landscape tablets, larger laptops, small desktops */

/* .toc {
    position: absolute;
    left: var(--space-s-l);
    width: 18vw;
    /* padding-top: (--space-s); */
/* } */