<html>
	<head>
	<title>MicroSite Builder</title>
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/builder.css">
	</head>
	<body>
		<div class="master_container">
			<nav class="nav fl_c_ar accent_grey">
				<span>MicroSite</span>
			</nav>
			<div class="main_container">
				<aside class="menu">
					Left Aside
				</aside>
				<main>
					<div class="main_container">
						{% if page_view == 'menu' %}
						<div class="section_containter">
							<h3>Pages</h3>
							<p>All of the pages for your website. Click on one to edit it.</p>
							<div class="section_content">
								<ul>
									{% for page in pages_list %}
									<li>
										<form method="post">
										<input type="hidden" name="page_to_edit" value="{{ page }}">
										<input type="submit" value="{{ page }}">
									</form>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% elif page_view == 'edit_page' %}
						<form method="post">
							<textarea name="" id="" cols="30" rows="10">{{ content }}</textarea>
						</form>
					<a href="{{ url_for('builder_home') }}">Back</a>
						{% endif %}
					</div>
				</main>
				<aside class="control">
					Right Aside
				</aside>
			</div>
			<footer>
				{% extends 'builder/foot.html' %}
			</footer>
		</div>
	</body>
</html>
