<html>
	<head>
	<title>MicroSite Builder</title>
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/builder.css">
	</head>
	<body>
		<div class="master_container">
			<nav class="nav fl_c_ar accent_grey">
				<span>MicroSite</span>
			</nav>
			<div class="main_container">
				<aside class="menu">
					Left Aside
				</aside>
				<main>
					<div class="section_containter">
						<h3>Pages</h3>
						<p>All of the pages for your website. Click on one to edit it.</p>
						<div class="section_content"></div>
					</div>
				</main>
				<aside class="control">
					Right Aside
				</aside>
			</div>
			<footer>
				<div class="credits fl_c_ar accent_grey">
					<span>MicroSite 2022</span>
					<span class="version_num">0.0.1</span>
					<img src="" alt="">
				</div>
			</footer>
		</div>
	</body>
</html>
